.footer {
    width: auto;
    height: 64px;
    display: flex;
    gap: 8px;
    border-top: 1px solid var(--borda-cinza);
    box-shadow: 0px -8px 5px 9px #00000000;
}

#opcao-de-quantidade {
    border: 1px solid var(--borda-cinza);
    min-width: 90px;
}

#btn-avancar {
    background-color: var(--violeta);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

#opcao-de-quantidade, #btn-avancar {
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.footer, #opcao-de-quantidade, #btn-avancar {
    display: flex;
    padding: 16px 12px;
}